* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

img {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

body {
    display: block;
    margin: 16px auto;
    max-width: 600px;
    width: 100%;
}

li {
    margin-bottom: 8px;
}